.container {
  margin-bottom: 50px;
}
.header {
  text-align: center;
}

.row-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rect {
  height: 14px;
  width: 14px;
  border: 0.5px solid #8a8d90;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.button {
  padding: 8px 12px;
  font-size: medium;
}

.button:not(:last-child) {
  margin-right: 10px;
}
